@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 252 77% 19%;
    /* #1A0B54 */

    --card: 0 0% 100%;
    --card-foreground: 252 77% 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 252 77% 19%;

    --primary: 240 81% 21%;
    /* #0A0A5F */
    --primary-foreground: 0 0% 100%;
    /* #FFFFFF */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 252 77% 19%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 252 30% 40%;
    /* Derived from #1A0B54 but lighter */

    --accent: 210 40% 96.1%;
    --accent-foreground: 252 77% 19%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240 81% 21%;

    --radius: 0.3rem;

    /* Custom Variables */
    --deep-bg: 240 81% 21%;
    /* #0a0a5f - Updated for sections bg */
    --subheading: 213 76% 54%;
    /* #307FE2 */
  }

  .dark {
    --background: 252 88% 13%;
    --foreground: 210 40% 98%;

    --card: 252 88% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 252 88% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --deep-bg: 240 81% 21%;
    --subheading: 213 76% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}